/* @media screen and(max-width:425px){
.card .card-body{
    padding: 5px;
}
.selection{
    display: flex;
    flex-direction: column;
    }
    .card .card-body{
        padding: 0px;
    }
} */

@media only screen and (max-width: 576px) {
    .mobile{
        width: 100% !important;
    }
    .noPadding{
        padding: 0 !important;
    }
    .mobileAlign{
        display: flex;
        flex-direction: column;
    }
    .mobileFont{
        font-size: 10px!important;
    }
}
